<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Settings</title>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="../js/populate.js"></script>

	<style type="text/css">
		body {
			color: #FFFFFF;
			background-color: #FF69B4;
		}
	</style>

</head>

<body>
	<form id="settings">
		<input type="checkbox" name="check-for-updates" value="true"> Automatically check for updates. <br>
		<input type="checkbox" name="opt-out" value="true"> Opt-out of anonymous usage logging. <br>
		<input type="checkbox" name="nsfw" value="true"> Not safe for work mode. <br>
		<input type="submit" value="Save">
	</form>
</body>
</html>